*{
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}
body, html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
header{
    position: fixed;
    width: 100vw;
    height: 5vh;
    background-color: black;
}
main.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

article.product-content{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

section.product-by-category{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    height: 60vh;
}
section.product-by-category#smartphones{
    background-color: white;
    border-bottom: 1vh solid rgb(173, 173, 173);
}
section.product-by-category#laptops{
    background-color: rgb(237, 230, 230);
}
section.product-by-category#fragrances{
    background-color: rgb(248, 239, 239);
    border-bottom: 1vh solid rgb(173, 173, 173);
}
section.product-by-category#skincare{
    background-color: white;
}
.category-title{
    color: rgb(8, 11, 98);
    font-size: 3rem;
    text-transform: capitalize;
}
section ul::-webkit-scrollbar{
    display: none;
}
section ul{
    display: flex;
    width: 80vw;
    overflow: auto;
    gap: 4vw;
}

section h3{
    text-align: center;
}
section li{
    list-style: none;
    margin: 0.5vw;

}
section li img{
    width: 80vw;
    height: 30vh;
    border-radius: 10px;
    margin-bottom: 1vh;
}
