

main.main-container {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

article.product-container {
    display: flex;
    flex-direction: column;
    width: 96vw;
    margin-top: 6vh;
    gap: 4vh;
}

section.view-thumbnails{
    width: 100%;
}
section.view-thumbnails ul{
    display: flex; 
    flex-direction: column;
    list-style: none;
    overflow: auto;
    width: 100%;
    gap: 2vh;
}
section.view-thumbnails ul li img{
    width: 96vw;

}
section.item-information-container{
    display: flex;
    flex-direction: column;
}
/* This is for the price
section.item-information-container h2{

} */
