
@media (min-width: 600px) {
    section.product-by-category ul {
        display: flex;
        width: 84vw;
        overflow: auto;
        gap: 1vw;
    }

    section.product-by-category li img {
        width: 40vw;
        height: 25vh;
        border-radius: 10px;
        margin-bottom: 1vh;
    }  
}

@media (min-width: 1000px) {

    section.product-by-category ul {
        display: flex;
        width: 86vw;
        overflow: auto;
        gap: 1vw;
    }

    section.product-by-category li img {
        width: 20vw;
        height: 20vh;
        border-radius: 10px;
        margin-bottom: 1vh;
    }
    section.product-by-category li h3{
        font-size: 1.5rem;
    }
}